/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    /*============= Font-Style ===============*/
    --my-font: 'Poppins', 'sans-serif';
    /*============= Colors ===============*/
    --hue-color: 250;
}

/*==================== HOME====================*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--my-font);
}
body{
    /*
    display: flex;
    flex-wrap: wrap;
    */
    justify-content: center;
    align-items: center;
    background: #040924;
}
/*HEADER*/
.container{
    width:100%;
    max-width:1600px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    color: #ffffff;
}
@media (max-width: 1024px){
    .container{
        padding-left:64px;
        padding: right 64px;
    }
}
@media (max-width: 767px){
    .container{
        padding-left:32px;
        padding-right:32px;
    }
}
.hamburger{
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before{
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color:#f1c9c9;
    margin: 6px 0px;
    -webkit-transition:0.4s;
    transition:0.4s;
}
.hamburger.is-active:before{
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active:after{
    -webkit-transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-7px, -6px);
}
.hamburger.is-active .bar{
    opacity: 0;
}
.mobile-nav{
    position:fixed;
    top: 0;
    right: 0;
    left: 100%;
    width: 70%;
    min-height:100vh;
    display: block;
    z-index: 98;
    background-color:#12002F;
    padding-top: 120px;
    -webkit-transition:0.4s;
    transition:0.4s;
}
.mobile-nav.is-active{
    left: 30%;
}
.mobile-nav a{
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color:#1f103F;
    color:#FFF;
    text-decoration: none;
}
.mobile-nav a:hover{
    background-color:#24104f;
}
@media (min-width: 768px){
    .mobile-nav{
        display:none;
    }
    .hamburger{
        display:none;
    }
}
header{
    color:#FFF;
    position:fixed;
    top: -10px;
    left:0;
    width:100%;
    z-index:99;
}
header .container{
    padding-top: 20px;
    padding-bottom: 20px;
    display:-webkit-box;
    display:-ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
header .container h2{
    color: inherit;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
}
@media (max-width: 767px){
    header .container nav{
        display:none;
    }
}
header.is-scrolling{
    background-color:#8f80a8;
    z-index: 2000;
}
header.is-scrolling .container{
    padding-top: 20px;
    padding-bottom: 10px;
}

header .navbar{
    display: flex;
    align-items: center;
}
header .navbar .logo{
    width: 140px;
    margin-top: -1.4rem;
}
header .navbar nav{
    margin-left: 25rem;
}
header .navbar nav ul{
    display: flex;
}
nav ul li a{
    display: inline-block;
    white-space: nowrap;
    color: rgb(233, 219, 219);
    font-size: 18px;
    padding: 5px 13px;
    transition: 0.2s;
}
.nav-icon i{
    padding-right: 0.3rem;
}
nav ul li a:hover,
nav ul li a:active{
    background: rgb(21, 32, 53);
}
/*HEADER*/

/*BODY IMG DESIGN*/
.img-box{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    white-space: nowrap;
}
.respond-box{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}
.box{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    inset: -10px 100px;
    background: linear-gradient(315deg,#dd0b8c,#0a83ec);
    transition: 0.4s;
    animation: animate 3s linear infinite;
}
.box:hover::before{
    inset: -20px 0px;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: #040924;
    border-radius: 50%;
    z-index: 1;
}
.content{
    position: absolute;
    inset: 30px;
    border: 3px solid #0a83ec;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}
.box:hover .content img{
    opacity: 0;
}
.content h2{
    position: relative;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
}
.content h2 span{
    font-weight: 300;
    font-size: 0.75em;
}
.content a{
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    color: #0f1846;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.4s;
}
.content a:hover{
    letter-spacing: 0.3em;
}
/*BODY IMG DESIGN*/

/*HOME DATA*/
.home_data{
    width: 100%;
    text-align: center;
    grid-column: 1/3;
    padding: 10px;
    color: #e5e7f1;
}
.home_title{
    font-size: 1.7rem;
    padding-top: 0.5rem;
}
.home_subtitle{
    font-size: 1.125rem;
    color: hsl(var(--hue-color), 8%, 45%);
    font-weight: 500;
}
.home_description{
    margin-bottom: 2rem;
    margin-top: 0.4rem;
}
.contactus-btn{
    font-size: 1.3rem;
    margin-top: -1rem;
    text-decoration: none;
    display: inline-block;
    background-color: hsl(var(--hue-color), 69%, 61%);
    color: #fff;
    padding: 0.5rem;
    border-radius: .5rem;
    border-color: hsl(var(--hue-color), 69%, 61%);
    font-weight: 600;
}
.contactus-btn:hover{
    background-color: hsl(var(--hue-color), 57%, 53%);
}
.contactus-btn i{
    margin-left: .7rem;
    font-size: 1.25rem;
    transition: .3s;
}
/*HOME DATA*/

/*INDIV INFO*/
.self-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.self-info{
    margin: 95px auto;
    width: 85%;
}
.self-info img{
    max-width: 300px;
    float: left;
    border: 3px solid #3b2c2c5b;
    border-radius: 10px;
    margin-right: 20px;
}

.socials{
    position: absolute;
    margin-top: -30px;
    margin-left: 30px;
}
.socials .button{
    display: inline-block;
    height: 50px;
    width: 50px;
    float: left;
    margin: 5px 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease-out;
  }
  .socials .button:hover{
    width: 200px;
  }
  .socials .button .icon{
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .socials .button:nth-child(1):hover .icon{
    background: #4267B2;
  }
  .socials .button:nth-child(2):hover .icon{
    background: #1DA1F2;
  }
  .socials .button:nth-child(3):hover .icon{
    background: #E1306C;
  }
  .socials .button:nth-child(4):hover .icon{
    background: #333;
  }
  .socials .button:nth-child(5):hover .icon{
    background: #ff0000;
  }
  .socials .button .icon i{
    font-size: 25px;
    line-height: 50px;
    transition: all 0.3s ease-out;
  }
  .socials .button:hover .icon i{
    color: #fff;
  }
  .socials .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .socials .button:nth-child(1) span{
    color: #4267B2;
  }
  .socials .button:nth-child(2) span{
    color: #1DA1F2;
  }
  .socials .button:nth-child(3) span{
    color: #E1306C;
  }
  .socials .button:nth-child(4) span{
    color: #333;
  }
  .socials .button:nth-child(5) span{
    color: #ff0000;
  }

.intro-title{
    font-size: 2rem;
    color: #617d8f;
}
.intro-subtitle{
    font-size: 1.5rem;
    line-height: 2rem;
    color: hsl(var(--hue-color), 8%, 45%);
    font-weight: 60;
}
.intro-description{
    text-align: justify;
    width: 100%;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #fff;
}
.contactme-btn{
    font-size: 1.3rem;
    margin-left: 4rem;
    margin-top: 1rem;
    text-decoration: none;
    display: inline-block;
    background-color: hsl(var(--hue-color), 69%, 61%);
    color: white;
    padding: 0.5rem;
    border-radius: .5rem;
    border-color: hsl(var(--hue-color), 69%, 61%);
    font-weight: 600;
}
.contactme-btn:hover{
    background-color: hsl(var(--hue-color), 57%, 53%);
}
.contactme-btn i{
    margin-left: .7rem;
    font-size: 1.25rem;
    transition: .3s;
}
/*==================== HOME ====================*/

/*==================== ABOUT ====================*/
.about-container{
    font-family: var(--body-font);
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    white-space: wrap;
    padding-top: 4rem;
}
.about-us{
    background-color: beige;
    width: 300px;
    height: 500px;
    margin: 20px;
    border-radius: 15px;
}
.card-image{
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.about-img1{
    background-image: url('../img/Hugo.jpg');
}
.about-img2{
    background-image: url('../img/Balangat.jpg');
}
.about-text-box{
    padding: 10px;
}
.name1{
    display: flex;
}
.name{
    display: flex;
    white-space: normal;
}
.about-text-box h5{
    font-size: 1rem;
}
.about-text-box p{
    font-size: 1rem;
    margin-left: 0.5rem;
}
.about-us a{
    background-color: rgb(53, 58, 56);
    color: #fff;
    padding: 10px 30px;
    display: block;
    text-align: center;
    margin: 50px 30px;
}
.about-us:hover{
    background-color: rgba(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all is ease;
}


/*==================== SKILLS ====================*/
.ourskills-title{
    text-align: center;
    color: #c6d3db;
    padding-top: 5rem;
}
.ourskills{
    display: flex;
    justify-content: center;
    width: 95%;
    flex-wrap: wrap;
    white-space: nowrap;
}
.Myskills{
    padding: 1rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.Myskills img{
    height: 220px;
    border-radius: 5%;
}
.title-skills{
    color: #fff;
    margin-top: 2.5rem;
    font-size: 1.8rem;
    display: flex;
    position: relative;
}
.faq1-content{
    padding: 0;
    width: 100%;
    padding: 1.5rem 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.faq1{
    color: #bcbfcfc4;
    max-width: 900px;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}
.question{
    display: flex;
}
.question h3{
    font-size: 1.5rem;
}
@media (max-width: 315px) {
    .question h3{
        font-size: 1.1rem;
    }
    .question-p{
        font-size: 15px;
        margin-left: 8px;
    }
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    color: #c6d3db;
}
.answer p{
    padding-top: 0.5rem;
    line-height: 1.5;
    font-size: 1.4rem;
}
.faq1.active .answer{
    max-height: 300px;
    animation: fade 1s ease-in-out;
}
.faq1.active svg{
    transform: rotate(180deg);
}
svg{
    margin-left: 2rem;
    margin-bottom: 0.2rem;
    transition: transform .5s ease-in;
}
@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(0px);
    }
    to{
        opacity: 1;
        transform: translateY(0px)
    }
}
.skills-icon{
    font-size: 2rem;
    margin-top: -0.5rem;
    color: hsl(var(--hue-color), 57%, 53%);
}
.skills-icon{
    margin-right: .40rem;
}
.skills-title{
    font-size: 1.125rem;
}
.skills-subtitle{
    font-size: .813rem;
    color: hsl(var(--hue-color), 8%, 65%);
}
.skills-list{
    row-gap: 1rem;
}
.skills-titles{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.skills-name{
    font-size: 1rem;
    font-weight: 500;
}
  
.skills-bar,
.skills-percentage{
    height: 5px;
    border-radius: .25rem;
}
.skills-bar{
    background-color: hsl(var(--hue-color), 92%, 85%);
}
.skills-percentage{
    display: block;
    background-color: hsl(var(--hue-color), 69%, 61%);
}
  
/*Percentages of the Skills*/
/*FrontEnd*/
.skills-html{
    width: 50%;
}
.skills-css{
    width: 80%;
}
.skills-js{
    width: 60%;
}
/*Designer*/
.skills-figma{
    width: 80%;
}
.skills-sketch{
    width: 20%;
}
.skills-photoshop{
    width: 50%;
}
.skills-adobe{
    width: 25%;
}
/*BackEnd*/
.skills-backJS{
    width: 30%;
}
.skills-nodejs{
    width: 30%;
}
.skills-java{
    width: 60%;
  }
/*==================== SKILLS ====================*/


/*==================== PORTFOLIO ====================*/
.title-port{
    text-align: center;
    align-items: center;
    font-size: 2.5rem;
    color: #f0f0f1;
    font-weight: 800;
    padding-bottom: 2rem;
    letter-spacing: 5px;
  }
  /* Animations */
  .nav-pills .nav-item .nav-link {
    text-decoration: none;
    padding: 0 15.5px;
    text-align: center;
    height: 60px;
    width: 60px;
    font-weight: 400;
    color: #9A9A9A;
    margin-right: 19px;
    background-color: rgba(222, 222, 222, 0.3);
    border-radius: 30px; 
  }
  .nav-pills .nav-item .nav-link.active, 
  .nav-pills .nav-item .nav-link.active:focus, 
  .nav-pills .nav-item .nav-link.active:hover {
    background-color: #9A9A9A;
    color: #FFFFFF;
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3); 
  }
  .nav-pills .nav-item i{
    display: block;
    font-size: 20px;
    line-height: 60px; 
  }
  .nav-pills.nav-pills-primary .nav-item .nav-link.active, 
  .nav-pills.nav-pills-primary .nav-item .nav-link.active:focus, 
  .nav-pills.nav-pills-primary .nav-item .nav-link.active:hover {
    background-color: #378C3F; 
  }
  /*<!-----Upper Icons/Above of Portfolio Title------->*/
  .nav-align-center{
    text-align: center; 
  }
  .nav-align-center .nav-pills{
    display: inline-flex;
  }
  /*PORTFOLIO*/
  .profile-page .nav-align-center {
    margin-top: 30px; 
  }
  .profile-page .gallery {
    margin-top: 45px;
    padding-bottom: 50px; 
  }
  .section{
    padding: 70px 0;
    position: relative;
    background: #040924;
  }
  .section .row + .category{
    margin-top: 15px; 
  }
  /*PORTFOLIO*/
  
  /*Images Gallery Style*/
  .gallery .cc-porfolio-image figure {
    position: relative;
    overflow: hidden;
    text-align: center; 
  }
  .gallery .cc-porfolio-image figure img {
    position: relative;
    display: block;
    max-width: 100%;
    opacity: 1; 
  }
  .gallery .cc-porfolio-image figure figcaption {
    position: absolute;
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; 
  }
  .gallery .cc-porfolio-image figure figcaption,
  .gallery .cc-porfolio-image figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
  }
  .gallery .cc-porfolio-image figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0; 
  }
  .gallery .cc-porfolio-image figure .h4,
  .gallery .cc-porfolio-image figure p {
    margin: 0; 
  }
  .gallery figure.cc-effect figcaption::before,
  .gallery figure.cc-effect figcaption::after {
    position: absolute;
    content: '';
    opacity: 0; 
  }
  .gallery figure.cc-effect figcaption::before {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    transform: scale(0, 0);
    transform-origin: 0 0; 
  }
  .gallery figure.cc-effect figcaption::after{
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    transform: scale(0, 0);
    transform-origin: 100% 0; 
  }
  .gallery figure.cc-effect .h4{
    margin-top: 25%;
    transition: transform 0.35s;
    opacity: 0; 
  }
  @media (max-width: 480px) {
    .gallery figure.cc-effect .h4 {
      font-size: 14px;
    } 
  }
  .gallery figcaption .container {
    position: absolute;
    width: 100%;
    bottom: 20px; 
  }
  .gallery figure.cc-effect p,
  .gallery figure.cc-effect button {
    padding: 0.5em 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 0.35s;
    opacity: 0; 
  }
  .gallery figure.cc-effect img,
  .gallery figure.cc-effect .h4 {
    transform: scale(1.06, 1.06); 
  }
  .gallery figure.cc-effect img,
  .gallery figure.cc-effect figcaption::before,
  .gallery figure.cc-effect figcaption::after,
  .gallery figure.cc-effect p {
    transition: opacity 0.35s, transform 0.35s; 
  }
  .gallery figure.cc-effect:hover img {
    opacity: 1;
    transform: translate3d(0, 0, 0); 
  }
  .gallery figure.cc-effect:hover figcaption::before,
  .gallery figure.cc-effect:hover figcaption::after {
    opacity: 1;
    transform: scale(1); 
  }
  .gallery figure.cc-effect:hover figcaption:before {
    background: rgba(27, 23, 23, 0.5); 
  }
  .gallery figure.cc-effect:hover .h4,
  .gallery figure.cc-effect:hover p,
  .gallery figure.cc-effect:hover button {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    color: #fff; 
  }
  .gallery figure.cc-effect:hover figcaption::after,
  .gallery figure.cc-effect:hover .h4,
  .gallery figure.cc-effect:hover p,
  .gallery figure.cc-effect:hover img {
    transition-delay: 0.15s; 
  }
  /*PORTFOLIO*/
  
  /*====================CSS FOR VIDEO PLAYER======================*/
.video-player{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    margin-top: 18.5%;
}
.video:focus{
    outline: none;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}
/*==================== PORTFOLIO ====================*/


/*==================== CONTACTUS ====================*/
.contactUs{
    padding-top: 1.5rem;
}
.con-title{
    text-align: center;
    padding-top: 5rem;
    font-size: 1.5rem;
    color: #dbcfdbf8;
}
.con-box{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
}
.contact_form h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    padding-top: 10px;
    text-align: center;
}
.contact_form{
    background-color: #fff;
    height: max-content;
}
.contactInfo{
    display: flex;
    flex-wrap: wrap;
}

form{
    padding-top: 1rem;
}
.formBox .contactInfo{
    display: flex;
}
.inputBox span{
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}
.inputBox input{
    margin-top: 5px;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #333;
    width: 50vh;
}
.inputBox{
    padding: 10px;
}
.inputBox textarea{
    padding: 10px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.submit input[type="submit"]{
    background: #0e2a41;
    color: #fff;
    border: none;
    font-size: 1.1rem;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}
.submit{
    text-align: center;
    padding: 10px;
}
.submit span{
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    display: none;
}
.inputBox ::placeholder{
    color: #999;
}
.left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 20px;
}

/* INFO */
.info{
    background: #0c2233;
    padding: 20px;
    max-height: 300px;
}
.info h3{
    color: #fff;
    font-size: 1.3rem;
}
.info .infoBox div{
    display: flex;
    align-items: center;
}
.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background-color: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 50%;
    margin-right: 15px;
}
.infoBox div{
    margin-top: 1rem;
}
.info .infoBox div a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}
.sci{
    display: flex;
    margin-top: 15px;
}
.sci li{
    list-style: none;
    margin-right: 15px;
}
.sci li a{
    color: #fff;    
    font-size: 2em;
    color: #ccc;
}
.sci li a:hover{
    color: #999;
}
.map{
    min-height: 295px;
    padding: 0;
}
.map iframe{
    width: 100%;
    height: 100%;
}
@media (max-width: 412px) {
    .info {
        width: 360px;
    }
    .contact_form {
        width: 360px;
    }
    .inputBox input {
        width: 37vh;
    }
}
/*==================== CONTACTUS ====================*/